body{
    background-image: url("../res/sughero.jpg");
    background-repeat: repeat;

}

#plus-circle{
    font-size: 48px; 
    color: black;
}

#plus-circle-btn{
    outline:none;
    box-shadow:none;
    background: transparent;
    border: none;
}

.col-sm-4{
    align-content: center;
    text-align: center;
    height: 300px;
}


.txtarea{
    border-right: #646464 ;
    border-top: #646464;
    border-left: #646464;
    border-bottom: #646464;
    width:100%;
    height: 70%;
    outline: none;
    resize: none;
}

button, button:focus{
    outline: none;
    box-shadow: none;
    border:none;
}
